<div class="netflix-modal-backdrop" *ngIf="showModal" [class.closing]="isClosing" (click)="onCancel()"></div>
<div class="netflix-modal-container" *ngIf="showModal">
    <div class="netflix-modal-content" [class.closing]="isClosing" (click)="$event.stopPropagation()">
        <div class="netflix-modal-header">
            <h5 class="netflix-modal-title">{{ title }}</h5>
            <button type="button" class="netflix-close-button" aria-label="Close" (click)="onCancel()">
                <i class="bi bi-x"></i>
            </button>
        </div>
        <div class="netflix-modal-body">
            <p [innerHTML]="message"></p>
        </div>
        <div class="netflix-modal-footer">
            <button type="button" class="btn-netflix-cancel" (click)="onCancel()">{{ cancelButtonText }}</button>
            <button type="button" class="btn-netflix-confirm" [ngClass]="confirmButtonClass" (click)="onConfirm()">{{
                confirmButtonText }}</button>
        </div>
    </div>
</div>