<div class="toast-container">
    <div *ngFor="let notification of notifications" class="toast show" [ngClass]="getBgClass(notification.type)"
        role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="bi me-2 text-white" [ngClass]="getIcon(notification.type)"></i>
            <strong class="me-auto text-white">{{ notification.type | titlecase }}</strong>
            <button type="button" class="btn-close btn-close-white" aria-label="Close"
                (click)="dismiss(notification.id)"></button>
        </div>
        <div class="toast-body">
            {{ notification.message }}
        </div>
    </div>
</div>